
server/.vs/ContainerManagement/v16/Server/sqlite3/db.lock
server/*/obj/
server/packages/
*.suo
server/buildreports/
server/node_modules/
server/test-results.xml
*.user
server/bin/
nunit-result.xml
*.swp
server/coverage
buildreports
server/.vs/config/applicationhost.config
server/OpenCover/




server/.vs/ContainerManagement/config/applicationhost.config

server/.vs/ContainerManagement/DesignTimeBuild/.dtbcache.v2

server/.vs/ContainerManagement/v16/TestStore/0/005.testlog

*.manifest

*.testlog

Capture.PNG

client/.browserslistrc

client/.editorconfig

client/node_modules/

client/.eslintcache

server/.vs/

*.json

*.dll

*.pdb

*.exe
