<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div class="form-group">
        <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate">
            <input #type="ngModel" placeholder="Container Type" matInput [(ngModel)]="localData.type"
                name="type" id="type" type="text" class="form-control" required appearance="fill">
            <div class="alert alert-danger" *ngIf="type.touched && type.invalid">
                type is required
            </div>
        </mat-form-field>
    </div>

    <ng-template #elseTemplate>
        Are you sure you want to delete the following Container Type? <br><br>
        <b>{{localData.type}}</b>
        <br>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">Save</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>